html, body { padding: 0; margin: 0; width: 100%; height: 100%; overflow: hidden; background: #231f20; }
#unity-container { position: fixed; width: 100%; height: 100%; }
#unity-fullscreen-container { position: relative; width: 100%; height: 100%; background: #231f20; }
#unity-canvas { position: absolute; width: 100%; height: 100%; background: #231F20; outline: none; }
#unity-loading-container { position: absolute; width: 100%; height: 100%; display: none; }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
#tt-logo { width: 128px; height: 128px; margin: 0 auto; background: url('icons/icon-192.png') no-repeat center / contain }
#unity-progress-bar-empty { margin-left: auto; margin-right: auto; width: 141px; height: 18px; margin-top: 10px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
